<div ng-if="clientDetail != ''" class="col-lg-12">
  <h2 class="title-client">Détail du client</h2>
  <table class="col-lg-12">
    <tr>
      <th>Nom</th>
      <th>Prénom</th>
    </tr>
    <tr>
      <td>{{clientDetail.nom}}</td>
      <td>{{clientDetail.prenom}}</td>
      <td>
        <input type="button" ng-click="getClientById(clientDetail._id, true)" value="Editer">
        <input type="button" ng-click="deleteClient(clientDetail._id)" value="Supprimer">
        <input type="button" ng-click="addInfosBool(true)" value="Ajouter informations">
      </td>
    </tr>
  </table>
</div>
